In [14]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np

url = r'C:\Users\joth1\Desktop\byanca\CienciadeDados\05. Recursos Pessoais\01. Jony\01. Pré Processamento de dados\heart_tratado (1).csv'

df = pd.read_csv(url, sep=';', encoding='utf-8')
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289.0,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180.0,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283.0,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214.0,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195.0,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
912,45,M,TA,110,264.0,0,Normal,132,N,1.2,Flat,1
913,68,M,ASY,144,193.0,1,Normal,141,N,3.4,Flat,1
914,57,M,ASY,130,131.0,0,Normal,115,Y,1.2,Flat,1
915,57,F,ATA,130,236.0,0,LVH,174,N,0.0,Flat,1
916,38,M,NAP,138,175.0,0,Normal,173,N,0.0,Up,0

In [4]:
previsores = df.iloc[:, 0:11].values
previsores.shape

(917, 11)

In [5]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

lista = [1,2,6,8,10]
for i in lista:
    previsores[:, i] = LabelEncoder().fit_transform(previsores[:,1])
previsores

array([[40, 1, 1, ..., 1, 0.0, 1],
       [49, 0, 0, ..., 0, 1.0, 0],
       [37, 1, 1, ..., 1, 0.0, 1],
       ...,
       [57, 1, 1, ..., 1, 1.2, 1],
       [57, 0, 0, ..., 0, 0.0, 0],
       [38, 1, 1, ..., 1, 0.0, 1]], dtype=object)

In [6]:
alvo = df.iloc[:, 11]

In [7]:
xtrain, xteste, ytrain, yteste = train_test_split(previsores, alvo, test_size=0.3, random_state=0)

In [13]:
yteste

306    1
710    0
298    1
466    0
253    0
      ..
49     1
456    1
342    1
906    1
116    1
Name: HeartDisease, Length: 276, dtype: int64